<!DOCTYPE html>
<html>
<head>
  <title>BaseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render "layouts/header" %>
  </header>

  <main>
    <div class="ui doubling stackable grid container">
      <%= yield %>
    </div>
  </main>

  <footer>
    <%= render "layouts/footer" %>
  </footer>
</body>
</html>
